html{
	font-size:20px;
}
*{
	margin:0;
	padding:0;
	font-family:"segoe ui", arial;
	font-size:1rem;
}
body::-webkit-scrollbar{
  display: none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#board{
	display:flex;
	flex-direction:column;
	width:100rem;
}
#board > div{
	flex-basis:2rem;
	border-bottom:1px solid #eee;
	display:flex;
	flex-direction: row;
}
.cell{
	flex-basis:2rem;
	border-right:1px solid #eee;
	box-sizing:border-box;
	background-image:url("./caro.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:-0.12rem 1.9rem;
	transition:background-position 0.2s, background-color 0.5s;
	opacity:0.8;
}
.X-cell{
	background-position:-0.12rem 0;
}
.O-cell{
	animation:tick 0.2s forwards;
}
@keyframes tick{
	0%{background-position:-2.04rem -1.9rem;}
	100%{background-position:-2.04rem 0;}
}
.X-cell.last-move{
	background-color:#309fff60;
}
.O-cell.last-move{
	background-color:#ff444460;
}



