html{
	font-size:20px;
}
*{
	margin:0;
	padding:0;
	font-family:"segoe ui", arial;
	font-size:1rem;
}
body::-webkit-scrollbar{
  display: none;
}
body{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#board{
	display:flex;
	flex-direction:column;
	width:100rem;
}
#board > div{
	flex-basis:2rem;
	border-bottom:1px solid #33333c64;
	display:flex;
	flex-direction: row;
}
.cell{
	flex-basis:2rem;
	border-right:1px solid #33333c64;
	box-sizing:border-box;
}
.X-cell, .O-cell{
	background-image:url("https://vandung2kk2.github.io/caro/caro.png");
	background-size:cover;
	background-position:-0.12rem;
}
.O-cell{
	background-position:1.96rem;
}
.X-cell.last-move{
	background-color:#309fff60;
}
.O-cell.last-move{
	background-color:#ff444460;
}



